<html>
    <head>
    <title> Error - Linkbasket</title>
    <style>
        div{
            width: 80%;
			text-align: center;
			margin-left: 50%;
			transform: translateX(-50%);
			font-family: 'PT Serif', sans-serif;
			margin-bottom: 40px;
            margin-top: 38vh;
            font-size: 20px;
        }
    </style>
    </head>

    <div>
           {{ message }}
    </div>
</html>