<html>

<head>
<link rel="stylesheet" href="/css/global.css" />

<style>
  main{
    text-align: center;
    margin-top: 20%;
  }

  a{
    margin: 40px 0px;
    font-size: 18px;
    display: block;
  }
</style>
</head>

<body>

<main>
<a href="/doers"> Doers </a>
<a href="/funders"> Funders </a>
<a href="/things"> Things </a>
</main>

</body>
</html>