 textarea {
     width: calc(100%);
     height: 150px;
     margin-bottom: 0px;
     border-radius: var(--radius);
     resize: none;
     font-size: 18px;
     padding: 10px;
     font-family: 'Urbanist';
     line-height: 1.4em;
     margin: 0px 0px 20px 0px;
 }

.input-caption{
     margin: 10px 0px 5px 0px;
 }

 .half{
    width: 49%;
    display: inline-block;}

.half > input{
    width: 90%
}

 input{
    width: calc(100%);
    margin-bottom: 20px;
    border-radius: var(--radius);
    resize: none;
    font-size: 18px;
    padding: 10px;
    font-family: 'Urbanist';
    line-height: 1.4em;
    border: solid 1px black;

 }