@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    src: url('../fonts/Urbanist.ttf');
    font-display: block;
    unicode-range: U+000-0FF;
}

:root {
    --radius: 6px;
    --main-color: rgb(0, 0, 0);
    --second-color: rgb(255, 255, 255);
    --faded-color: #666
}

body{
    padding: 10px;
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    background: var(--second-color);
    color: var(--main-color);
}

main {
    width: 50%;
    margin-left: 25%;
    padding: 10px 40px;
    display: inline-block;
    vertical-align: top;
}

button {
    background: var(--main-color);
    color: var(--second-color);
    border: solid 1px var(--main-color);
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: var(--radius);
    font-size: 16px;
}

a{
    color: var(--main-color);
}

main{
    width: 50%;
    margin-left: 20%;
    padding: 10px 40px;
    margin-top: -10px;
    display: inline-block;
}

h1{
    font-size: 50px;
}

#nav-profile-picture{
    width: 60px;
    height: 60px;
    border: solid 1px black;
    border-radius: var(--radius);
    margin: 10px;
}

#nav-bar{
    margin-top: 0px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    color: var(--main-color);
}

.nav-bar-element{
    margin: 12px
}

.nav-bar-element-special {
    margin: 12px;
    margin-top: 30px;
}