
.faded{
    color: var(--faded-color)
}

#update-holder{
    width: 100%;
    padding: 25px 30px;
    border: solid 1px var(--main-color);
    border-radius: var(--radius);
    position: relative;
}

#update-input{
    width: calc(100%);
    height: 250px;
    margin-bottom: 30px;
    border-radius: var(--radius);
    resize: none;
    font-size: 18px;
    padding: 10px;
    font-family: inherit;
}

#update-title{
    font-size: 28px;
    font-weight: 600;
}

.input-header{
    margin-top: 30px;
    margin-bottom: 10px;
}

.single-line{
    margin-bottom: 55px;
}

#update-confirm-button{
   position: absolute;
   right: 30px;
   bottom: 25px;
}